<%- include('includes/head.ejs') %>
<%- include('includes/navb.ejs') %>

<main>
  <form action="/products" method="post">
    <input type="text" name="title" />
    <button type="submit">Add Prod</button>
  </form>
</main>
</body>

</html>