<%- include('includes/head.ejs') %>
<%- include('includes/navb.ejs') %>

<main>
  <% if(products.length > 0) { %>
  <h3>Product-List</h3>
  <ul>
    <% for(product of products) { %>
    <li>
      <%= product %>
    </li>
    <% } %>
  </ul>
  <% } else { %>
  <h5>No products</h5>
  <% } %>
</main>
</body>

</html>