<%- include('../includes/head.ejs') %>
<%- include('../includes/navb.ejs') %>

<main>
  <div>
    <h5>500 : Internal Server Error</h5>
    <p>We are having some technical issues here. We will be back soon.</p>
  </div>
</main>

<%- include('../includes/close.ejs') %>
