<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/styles/prod.css">
<%- include('../includes/navb.ejs') %>

<main>
  <div>
    <h3>Your Orders</h3>
  </div>
</main>

<%- include('../includes/close.ejs') %>